<div class="row">
  <div class="col-md-5">
    <h2>Players</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let player of players"
        (click)="selectPlayer(player)"
        [class.active]="player === selectedPlayer">
        {{player.name}}
        <span class="label label-warning pull-right">{{player.power.yellow}}</span>
        <span class="label label-danger pull-right">{{player.power.red}}</span>
        <span class="label label-primary pull-right">{{player.power.blue}}</span>
        <span class="label label-success pull-right">{{player.power.green}}</span>
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewPlayer()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <player-details
      [player]="selectedPlayer"
      [createHandler]="addPlayer"
      [updateHandler]="updatePlayer"
      [deleteHandler]="deletePlayer">
    </player-details>
  </div>
</div>
